@font-face {
    font-family: 'iransans';
    src: url('../fonts/iransans_medium.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/iransans_regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/iransans_ultralight.woff2') format('woff2');
    font-weight: 200;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0;
    font-family: 'iransans', tahoma;
}

* {
    box-sizing: border-box;
}

.videoplay {
    margin-top: 20%;
    min-width: 100%;
    min-height: 100%;
}

.text-class {
    margin-top: 45% !important;
    text-align: center;
    color: #3bbaf8
}

.bg-image {
    background-image: url('../images/bgh.png');
    height: 25rem;
    width: 100%;
}

.header-text {
    background: #8383e2;
}

.card-text {
    text-align: center;
    color: #115374;
    margin-top: 2%;
}

.card-btn {
    margin-top: 2%;
    color: blue;
}

.card-box {
    margin: 1%;
    padding: 1%;
    text-align: center;
}

.card-title-me {
    text-align: center;
    color: blue;
    font-size: 3rem;
}

.card-body-me {
    color: #3bbaf8;
    margin-top: 2%;
    text-align: justify;
}

.card-img {
    height: 25rem;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: rgb(3, 54, 148);
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #e7d258e7;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: rgb(54, 141, 240);
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: rgb(243, 170, 74);
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: rgb(13, 52, 226);
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

.bg {
    margin: 2rem 0 2rem 0;
    text-align: center;
    background-color: rgba(243, 93, 33, 0.849);
}

.h1-list {
    margin-right: 20%;
    display: inline-block;
    color: white;
    font-size: 9em;
    text-shadow: .03em .03em 0 rgb(235, 71, 6);
}

.table-me {
    margin: 1rem 0 1rem 0;
    overflow: hidden;
}

.bt-me {
    color: orangered;
}

footer {
    width: 100%;
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top: 100px;
    text-align: center;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
    display: inline-block;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup chat - hidden by default */

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#alert {
    position: fixed;
    top: 0;
    ri: 0;
    width: 10%;
    display: none;
    background-color: rgb(243, 170, 74);
    
}